<nav class="navbar navbar-default bg-ticket">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logo" src="assets/images/logo.png" alt="Volley Media">
      <span class="headerText">Volley Media</span>
    </div>
    <div class="nav navbar-nav navbar-right">
  <div class="user" *ngIf="userDetails; else login">
    <img class="logo p-2" src="assets/images/loginlogo.png" alt="{{userDetails.username}}">
    <span class="name pt-3 mt-2">{{userDetails.username}}</span>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-log-out"></i></span>
      <button class="logoutbtn btn btn-primary" (click)="onLogOut()" type="button">Log Out</button>
    </div>
  </div>
</div>
  <ng-template #login>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
      <button class="loginbtn btn btn-primary" (click)="onLogin()" type="button">Login</button>
    </div>
  </ng-template>
  </div>
</nav>
<div class="megamenu" id="bigScreen">
  <p-megaMenu styleClass="menucus" [model]="menuList" #menu></p-megaMenu>
</div>
<app-login></app-login>